<h1 style="margin-left:40%">
  Study Planner
</h1>

<img style="height:60%; width:60%; border-radius:80px;margin-left:20%"src="assets/images/image.jpg">

<br><h2 style="margin-left:43%">
  Welcome
</h2>
<div style="margin-left:43%">
  <form (submit)="login()">
    Username: <br>
    <input type="text" name="username">
    <br>
    Password: <br>
    <input type="password" name="password">
    <br><br>
    <button mat-raised-button type="submit" color="primary">Submit</button>
  </form>
</div>


<!-- <app-menu></app-menu> -->