<mat-card class="demo-panel">
  <mat-card-content>
    <button type="button" color="primary" mat-raised-button (click)="sidenav.open()" *ngIf="isLogged">
      <i class="material-icons">menu</i>
    </button>
    <button mat-raised-button color="primary" (click)="sidenav.close() && logout()" *ngIf="isLogged">Logout</button>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav class="example-sidenav">
          <button [routerLink]="['/home']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">home</i> Home
          </button>
          <br>
          <button [routerLink]="['/courses']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">school</i> Courses
          </button>
          <br>
          <button [routerLink]="['/activities']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">notifications_none</i> Activities
          </button>
          <br>
          <button [routerLink]="['/tasks']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">layers</i> Tasks
          </button>
          <br>
          <button *ngIf="isAdmin" [routerLink]="['/staff']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">person</i> Staff
          </button>
          <br>
          <button *ngIf="isAdmin" [routerLink]="['/students']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">people</i> Students
          </button>
          <br>
          <button *ngIf="isAdmin" [routerLink]="['/types']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">format_list_numbered_rtl</i> Activity Types
          </button>
          <br>
          <button *ngIf="isAdmin" [routerLink]="['/places']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">location_city</i> Activity Places
          </button>
          <button *ngIf="isAdmin" [routerLink]="['/roles']" style="width:100%; text-align:left; margin-bottom:5px;" type="button" color="primary" mat-raised-button (click)="sidenav.open()">
            <i class="material-icons">people</i> Roles
          </button>
      </mat-sidenav>
      <dx-scroll-view direction="both">
      <div class="example-sidenav-content">
        
          <router-outlet></router-outlet>
        
      </div>
      </dx-scroll-view>
    
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>